.md-typeset hr {
	border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}

/* Green background for 'good' code blocks */
.highlight.good, pre.good {
  background-color: #e6f4ea !important;
  border-left: 4px solid #34a853;
  padding: 1em;
  border-radius: 5px;
}

/* Red background for 'bad' code blocks */
.highlight.bad, pre.bad {
  background-color: #fce8e6 !important;
  border-left: 4px solid #d93025;
  padding: 1em;
  border-radius: 5px;
}
