.md-typeset hr {
	border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}

.highlight.good pre {
  background-color: #e8f5e9 !important; /* light green */
}

.highlight.bad pre {
  background-color: #ffebee !important; /* light red */
}

.style-good, .style-bad {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.style-good {
  color: #2e7d32; /* dark green */
}

.style-bad {
  color: #c62828; /* red */
}


/* FOLLOWING WORKS WITH ONLY GOOD BAD TEXT: */
/*
.style-good, .style-bad, .style-exception {
  font-weight: bold;
  margin-bottom: 0.25em;
}

.style-good {
  color: #2e7d32; /* Green */
/* }

.style-bad {
  color: #c62828; /* Red */
/*}

.style-exception {
  color: #f9a825; /* Amber/Yellow */
/*}

/* Code block backgrounds */
/*div.codehilite.good pre {
  background-color: #e8f5e9; /* Light green */
/*}

div.codehilite.bad pre {
  background-color: #ffebee; /* Light red */
/*}

div.codehilite.exception pre {
  background-color: #fffde7; /* Light yellow */
}
